/*******GENERAl***********/

body
{
    font-family: 'lato', sans-serif;
    background-color: rgb(250, 228, 201);
}
h1,h2,h3,h5,h5,h6
{
    font-weight: bold;
}
img
{
    max-width:60%;
    height: auto;
}

section
{
    padding: 45px 0 80px 0;
}
section .heading
{
    text-align: center;
    padding-bottom: 40px;
}
.red-divider             /*****les lignes souligner********/
{
    width: 100px;
    height: 2px;
    background:  rgb(241, 37, 82);
    margin: 0 auto;
}
/***************************************************MENU******************************************************/
.navbar
{
    background:  rgb(241, 37, 82);
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse
{
    text-align: center;
}
.navbar li a
{
    color: white ! important;
}
.navbar li a:hover, .navbar-nav li.active a
{
     color:  rgb(241, 37, 82) ! important;
     background-color: white ! important;
}
.icon-bar
{
    background-color: white ! important;
}
/****************************************************ABOUT**********************************************************/
#about
{
    padding-top: 100px;
    background-image: url('image/background-3185765_1920.jpg');
    background-size: 100% 100%;
   
}
.profile-picture
{
    text-align: center;
    margin: 0 auto;
    float: none;
}
#about .heading h4
{
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(26, 25, 25);
    /* text-transform: uppercase; */

}
#about .heading h1
{
    color:  rgb(241, 37, 82);    
    
}
.button1
{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solide white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;        /* espace entre le bord et le text*/
    border-radius: 3px; 
    font-size: 20px;
    border: 1px solid white;
}
.button1:hover
{
    background: white;
    color: rgb(241, 37, 82);
    text-decoration: none;
}


/******************************************************competence************************************************************/
/*****#competence
{
    background: white;
}*****/
#competence .heading h2,
#education .heading h2
{
    color:  rgb(241, 37, 82);
    text-shadow: 1px 1px 1px  black;
    text-transform: uppercase;
}
#competence .progress
{
    height: 100%;
    margin: 30px 20px;
    background: #ddd;
}
#competence .progress-bar 
{
    background: rgb(241, 37, 82);
}
#competence .progress h5
{
    text-shadow: 1px 1px 1px black;
}
/********************************************************education************************************************************/
/***********#tr1{
    background-color: beige;
    transition-property: background-color;
    transition-duration: 5s;
}
#tr1:hover{
    background-color: rgb(241, 37, 82);
}
***/
.education-block
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}
.education-block h5
{
      color: #888;
      font-size: 15px;
      margin-bottom: 15px;
}
.education-block .glyphicon
{
    font-size: 40px;
}
.education-block h3
{
 color: rgb(241, 37, 82);
}
.education-block h4
{
    margin-bottom: 20px;
}
.education-block p
{
    margin-top: 10px;
}
 /**************************************************************PROJET***********************************************************/
 #projet
 {
     background: rgb(241, 37, 82);
 }
 #projet .heading h2,
 #contact .heading h2
 {
     color: white;
     text-shadow: 1px 1px 1px  black;
    text-transform: uppercase;
 }
 #projet .thumbnail img
 {
    filter: grayscale(100%);     /******pour mettre en gris***/
    
 }
 #projet .thumbnail img:hover
 {
      filter: none;         /********pour mettre en couleur*******/
      
 }

/******************************************************footer**************************************************************/

footer
{
    background: #333;
    padding:  0 10px;
    width: 100%;
    height: 150px;
}
footer .glyphicon
{
    font-size: 25px;
    margin: 20px;
    color: rgb(241, 37, 82);
 
}
footer .glyphicon:hover
{
     font-size: 28px; 
}
footer h5
{
    color: white;   
    font-weight: normal;
}
footer img{
    padding: 5px;
    margin: 0 15px;
}
